.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
}
.SignInContainer{
    display: flex;
    height: 100vh;
    justify-content: center;
    background-color: rgba(27, 27, 27, 0.185);;
}
.SignInBtn{
    width: 380px;
    background-color: white;
    color: #8b3208;
    font-size: 20px;
    font-weight: 700;
}
.metamask-icon{
    height: 30px;
    margin-right: 10px;
    margin-top: 10px;
}
.tokenimage{
    height: 380px;
    border-radius: 12px;
    margin-bottom: 20px;
}
h1,h3{
    margin: 5px;
    color: #3f3d3c;
}